<form class="needs-validation" novalidate>
    <h2>Login</h2>
    <div class="form-group">
        <label for="usernameValidation">Gebruikersnaam</label>
        <input type="text" class="form-control" id="usernameValidation" required>
        <div class="invalid-feedback">
            Voer een geldige gebruikersnaam in
        </div>
    </div>
    <div class="form-group">
        <label for="passwordValidation">Wachtwoord</label>
        <input type="text" class="form-control" id="passwordValidation" required>
    </div>
    <button type="submit" class="btn btn-info">Inloggen</button>
</form>