.background{
    width: 100vw;
    height: 100vh;
    padding-top: 15vh;
    background-image: 
        linear-gradient(rgb(255, 0, 186), transparent), 
        linear-gradient(93deg, transparent, rgba(19, 43, 200, 0.89)), 
        linear-gradient(60deg, rgb(210, 46, 18), transparent);
}

.card{
    width: 30vw;
    height: 70vh;
    margin-left: 35vw;
    padding: 2vw;
}

.alert{
    margin-top: 2vh;
}
h5{
    font-size: 1em;
}