<div class="background">
    <div class="card">
        <h2 class="card-title text-center">Wachtwoord vergeten</h2>
        <form class="needs-validation" [formGroup]="forgotPassword" novalidate>
            <div class="form-group">
                <label for="password1">Email</label>
                <input type="text" class="form-control" id="email" #email formControlName="emailAddress"
                    [ngClass]="{'is-invalid': f.emailAddress.errors && (f.emailAddress.touched || f.emailAddress.dirty)}" required>
                <div class="invalid-feedback" >
                    <p *ngIf="f.emailAddress.errors?.required">Dit veld is verplicht</p>
                    <p *ngIf="f.emailAddress.errors?.email">Dit is geen geldig email adres</p>
                </div>
            </div>
            <div class="form-group">
                <label for="password1">Nieuw wachtwoord</label>
                <input type="password" class="form-control" id="password1" #password1 formControlName="passWord1"
                    [ngClass]="{'is-invalid': f.passWord1.errors && (f.passWord1.touched || f.passWord1.dirty)}" required>
                <div class="invalid-feedback" >
                    Dit veld is verplicht
                </div>
            </div>
            <div class="form-group">
                <label for="password2">Bevestig wachtwoord</label>
                <input type="password" class="form-control" id="password2" #password2 formControlName="passWord2"
                    [ngClass]="{'is-invalid': f.passWord2.errors && (f.passWord2.touched || f.passWord2.dirty)}">
                <div class="invalid-feedback">
                    <p *ngIf="f.passWord2.errors?.confirmedValidator">De wachtwoorden komen niet overeen.</p>
                    <p *ngIf="f.passWord2.errors?.required">Dit veld is verplicht</p>
                </div>
            </div>
            <Button type="submit" class="btn btn-dark" [disabled]="!forgotPassword.valid" (click)="submit()">Verander wachtwoord</Button>
            <div class="form-group">
                <div class="alert alert-success" *ngIf="isShown" role="alert">
                    <h5 class="alert-heading">Wachtwoord is veranderd!</h5>
                </div>
            </div>
        </form>
    </div>
</div>
