<form class="needs-validation" [formGroup]="addCompany" novalidate>
    <h2>Nieuw bedrijfsaccount aanmaken</h2>
    <div class="form-group">
        <label for="companynameValidation">Bedrijfsnaam</label>
        <input type="text" class="form-control" id="companynameValidation" [(ngModel)]="company.name" formControlName="companyName" 
            [ngClass]="{'is-invalid': companyName.errors && (companyName.dirty || companyName.touched), 'is-valid':companyName.valid}">
        <div class="invalid-feedback">
            <p *ngIf="companyName.errors?.required">Dit veld is verplicht</p>
        </div>
    </div>
    <div class="form-group" enctype="multipart/form-data">
        <p>Upload hier eventueel de styleguide</p>
        <div>
            <input type="file" accept=".pdf, .doc, .pages" id="customFileLangHTML"  (change)="getFileDetails($event)" >
            <label for="customFileLangHTML"></label>
          </div>
    </div>
    <button type="submit" class="btn btn-info" (click)="uploadCompany()">Bedrijfsaccount aanmaken</button>
</form>