<header>
    <img id="footer-image" src="../../assets/images/KyndaLogo.png" alt="I am Karameru" width='15%' height='15%'>
    <h1 id="header-text">Dit is templateB!</h1>
</header>

<section class="middle-section">
    <h2 id="header-text">Tussenkopje voor de tekst hieronder:</h2>
    <p id="middle-text"> Hier staat interessante informatie over het bedrijf... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
</section> 

<footer>
    <h3 id="header-text">Tussenkopje voor de afbeelding hieronder:</h3>
    <img id="footer-image" src="../../assets/images/Karameru.png" alt="I am Karameru">
    <p id="bottom-text">Dit is de tekst onder de foto.....</p>
</footer>