<form class="needs-validation" novalidate>
    <h2>Nieuw account aanmaken</h2>
    <div class="form-group">
        <label for="usernameValidation">Gebruikersnaam</label>
        <input type="text" class="form-control" id="usernameValidation" required>
        <div class="invalid-feedback">
            Ongeldige gebruikersnaam
        </div>
    </div>
    <div class="form-group">
        <label for="passwordValidation">Wachtwoord</label>
        <input type="text" class="form-control" id="passwordValidation" required>
        <div class="invalid-feedback">
            Ongeldig wachtwoord
        </div>
    </div>
    <div class="form-group">
        <label for="emailValidation">Email</label>
        <input type="email" class="form-control" id="emailValidation" required>
        <div class="invalid-feedback">
            Email adres is ongeldig
        </div>
    </div>
    <div class="form-group">
        <label for="companyValidation">Bedrijf</label>
        <input type="text" class="form-control" id="companyValidation" required>
        <div class="invalid-feedback">
            Dit bedrijf komt niet voor in onze database
        </div>
    </div>
    <button type="submit" class="btn btn-info">Account aanmaken</button>
</form>