<div class="background">
    <app-navbar></app-navbar>
    
    <div class="no-template-container">
        <div *ngIf="templates.length === 0">
            <div>
                <h3 class="no-template-text">Er zijn momenteel geen templates voor review</h3>
            </div>
        </div>
    </div>

    <div class="template-container">
        <div *ngIf="selectedTemplate">
            <h4>Naam: {{selectedTemplate.name}}</h4>
            <iframe [src]="templateURL" title="template-container" id="review" width="800px" height="600px"></iframe>
            <button type="button" class="btn btn-dark btn-block" id="template-review" (click)="setPending()">Review aanvragen</button>
            <h4>Status: {{selectedTemplate.status}}</h4>
        </div>
    </div>

    <div class="review-container">
        <h3 class="template-header-text">Hier de templates open voor review</h3>
        <div class="d-flex p-2">
            <div class="row justify-content-start">
                <div *ngFor="let template of reviewTemplates">
                    <div class="col mt-4">
                        <div class="card">
                            <div class="card-body">
                                <p>{{template.name}}</p>
                                <button type="button" class="btn btn-dark btn-block" (click)="selectTemplate(template)">Open</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
