<div class="background">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/client-dashboard">client dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" [routerLink]="['/template-upload']" routerLinkActive="router-link-active">Template toevoegen</a>
            <a class="nav-link" [routerLink]="['/company-account']" routerLinkActive="router-link-active">Bedrijfsaccount toevoegen</a>
            <a class="nav-link" [routerLink]="['/account']" routerLinkActive="router-link-active" >Gebruikersaccount toevoegen</a>
        </div>
        </div>
    </nav>

    <div class="container-fluid md-4">
        <div class="row justify-content-center row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            <div *ngFor="let template of templates">
                <div class="col mt-4">
                    <div class="card">
                        <div class="card-body">
                            <p></p>
                            <button type="button" class="btn btn-dark btn-block">bewerken</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>