<div class="container">
    <div class="row">
        <form class="template-form col-4">
            <p>Bewerk hierin uw template:</p>
            
            <label for="template-title">Template title:</label>
            <input type="text" id="template-title" name="template-title">
            
            <label for="template-text">Template text:</label>
            <input type="text" id="template-text" name="template-text">
            
            <input type="file" accept="image/*">
            
            <label for="template-textfoto">Tekst onder foto</label>
            <input type="text" id="template-textfoto" name="template-textfoto">
            
            <button class="btn btn-dark" type="button" onclick="updateTemplate()">Template opslaan</button>
        </form>

        <div class="content col-8">
            <header>
                <img id="header-image" src="../../assets/images/Karameru.png" alt="karameru">
                <h1>This is a Heading?</h1>
            </header>

            <section class="middle-section">
                <p id="middle-text">
                    "Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>
            </section> 

            <footer>
                <img id="footer-image" src="../../assets/images/Karameru.png" alt="I am Karameru">
                <p id="bottom-text">"Lorem ipsum dolor sit amet"</p>
            </footer>
        </div>
    </div>
</div>