.template-form{
    height: 100vh;
}

.content{
    padding-left: 1vw;
}

h4{
    border-bottom: 1px grey solid;
}


.frame
{
    width: 2750px;
    position: fixed;
    border: 50;
    overflow: hidden;

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transform: scale(1);
}