<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <form class="template-form shadow col-4">
            
            
            <div id='editor-parts'>
                <h4 class='editor'>Bewerk hierin uw template:</h4>
                <label for="template-title" class="form-label">Template headings:</label>
                <div *ngFor="let heading of headings; let i = index">
                    <div class="form-group">
                        <input type="text" class="form-control" id="template-title" name="template-title{{i}}" placeholder="Nieuwe template" [(ngModel)]='headings[i].innerText'>
                    </div>
                </div>
            
            
                <label for="template-text" class="form-label">Template text:</label>
                <div *ngFor="let paragraph of paragraphs; let x = index">
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Typ hier de tekst wat bij uw template hoort" rows="5" cols="50" name="comment{{x}}" [(ngModel)]='paragraphs[x].innerText'></textarea>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" accept="image/*">
                        <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Kies een foto</label>
                    </div> 
                </div>
                
                <button class="btn btn-info" type="button" onclick="updateTemplate()">Template opslaan</button><br><br>

            </div>

            <div id="selector-parts">
                <h4 class='editor'>Selecteer hier uw template:</h4>
                <input type="text" class="form-control" id="file_naam" name="filenaam" placeholder="Typ de file naam van de template. Bijv: templateB.html" [(ngModel)]='inputFileNaam'><br>
                <button class="btn btn-info" id='load_button' (click)="getHtmlFile()">Laad template</button>
            </div>

        </form>
        
        <div *ngIf="httpString != null" class="content shadow col-8">
            <div [innerHtml]="loadedHtmlFile.innerHTML"></div>
        </div>
    </div>
</div>
