<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../../assets/images/KyndaLogo.png" width="30" height="30" class="d-inline-block align-top" style='border-radius: 15%;' alt="">
        Kynda Huisstijl Portaal
      </a>
      
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Home</a>
        <a class="nav-item nav-link" href="image-library">Beeldbank</a>
        <a class="nav-item nav-link" href="#">Handleiding</a>
        <a class="nav-item nav-link" href="template">Template Editor</a>
    </div>

    <div class="nav navbar-nav ml-auto justify-content-end">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="login">Inloggen</a>
            </li>
        </ul>
    </div>
</nav>
